body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Cascadia Code', monospace;
}
.mainBtn{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.dark{
    background-color: #000;
}